body {
  font-family: "Helvetica-Medium", Helvetica, Arial, serif;
}

.navbar .navbar-expand-lg {
  margin-left: -15px;
  margin-right: -15px;
}

.navbar .logo p {
  line-height: 1.2;
  font-size: 22px;
}

.navbar .logo p ~ p {
  font-size: 11px;
  vertical-align: super;
  color: gray;
}

.navbar-light .navbar-nav .nav-link {
  color: #343a40;
  font-weight: 600;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #3077cf;
}

.search-result {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 30px;
}

.top-chart {
  border-radius: 5px;
  padding-bottom: 0.5rem;
}

.top-chart .icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.top-chart img {
  width: 100%;
  border-radius: 5px;
}

.top-chart p {
  font-size: 22px;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.top-chart span {
  float: right;
  margin-right: 8px;
}

.top-chart img {
  width: 75%;
}

.top-chart time {
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
  border-radius: 4px;
  background: #c7c7c7;
  padding: 2px 4px;
}

.filter select.custom-select {
  background: #fff url("../images/arrow-down.png") no-repeat right 0.55rem
    center/14px 10px;
}

.table.stats {
  width: 100%;
}

.table th {
  padding: 1.25rem 0.75rem;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.table td {
  vertical-align: unset;
}

.table .star {
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 0);
  width: 28px;
  height: 28px;
  transform: rotate(0deg);
}

.table .stt {
  font-size: 15px;
}

.table .t-17 {
  font-size: 17px;
}

.table .chart {
  max-width: 150px;
}

a.coin-name {
  font-size: 17px;
  font-weight: 500;
}

.table th.sort::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  right: 15%;
  top: 40%;
  background: url(../images/arrow.png) no-repeat;
  background-size: contain;
  background-position: center;
  transition-duration: 300ms;
}

.table th.sort.desc::after {
  transform: rotate(180deg);
}

.table .icon {
  width: 27px;
  height: 27px;
  object-fit: contain;
}

.table .pl-5p {
  padding-left: 5%;
}

.table .pl-3p {
  padding-left: 3%;
}

/*TODO : mau footer*/

.footer {
  background-color: #3077cf;
  color: white;
  min-height: 25vh;
  margin-left: -15px;
  margin-right: -15px;
}

.footer .stronger {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    font-size: 17px;
  }
}
